{% trans %}
<p>
  Plattformen är till för <a href="http://www.vinnova.se/PageFiles/591806061/%c3%96ppen%20data%20-%20regeringsuppdrag120726.pdf">förmedling av data som tillgängliggjorts för vidareutnyttjande</a>&nbsp;(PDF). Den kommer fungera som en katalog, i betydelsen att den kommer peka ut datakällor hos dataägarna (portalen är alltså inte en depå för data). Målet är att portalen ska vara enkel att använda, ha tydliga licenser och villkor, ge stöd för att data kan vidareutnyttjas till innovationer samt möjliggöra delning av resurser och lösningar.
</p>
<p>
  <a href="/about">Läs mer...</a>
</p>
{% endtrans %}
