{% ckan_extends %}

{% block package_tags %}

  {# Add our custom eurovoc_thesaurus field to the dataset read page. #}
  {% if pkg.get('eurovoc_thesaurus') %}
    <section id="dataset-eurovoc" class="eurovoc module-content">
      <h3>{{_('Eurovoc')}}</h3>
      {% if pkg.groups %}
        {% for group in pkg.groups %}
          {% if group.id|length == 2 %}{# Eurovoc-grupper har ett id-värde som består av två siffror, t.ex. "04" för "Politik" #}
          <p><strong>{{_('Group')}}</strong>: {{ h.trans_dict(group).title }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
      <p><strong>{{_('Sub group')}}</strong>: {{ h.trans_dict({'thes': pkg.eurovoc_thesaurus[0]}).thes }}</p>
    </section>
  {% endif %}

  {{ super() }}
{% endblock %}
