{% trans %}
<p>
  Plattformen är till för <a href="http://www.vinnova.se/PageFiles/591806061/%c3%96ppen%20data%20-%20regeringsuppdrag120726.pdf">förmedling av data som tillgängliggjorts för vidareutnyttjande</a>&nbsp;(PDF). Den kommer fungera som en katalog, i betydelsen att den kommer peka ut datakällor hos dataägarna (portalen är alltså inte en depå för data). Målet är att portalen ska vara enkel att använda, ha tydliga licenser och villkor, ge stöd för att data kan vidareutnyttjas till innovationer samt möjliggöra delning av resurser och lösningar.
</p>
<p>
  <em>
    Denna plattform är en första version som främst kommer vara till för att utvärdera den tekniska lösningen. Därför är antalet datakällor begränsat för tillfället. Plattformen är inte klar och mycket utveckling återstår – vi önskar samråd och förslag om nästa steg. I slutet av januari kommer vi arrangera en diskussion om utvärdering och vidareutveckling.
  </em>
</p>
<p>
  Vi välkomnar svenska aktörer som har erfarenheter och utvecklat lösningar inom öppna data att bidra i detta uppdrag.&nbsp;
</p>
<p>
  Lösingen idag baseras en förstudie kring en ny nationell portal. Förstudien har fokuserat på hur offentlig information kan tillgängliggöras och utreder hur e-tjänster baserade på offentlig data ska kunna tas fram och publiceras. För fler detaljer se <a href="http://www.vinnova.se/PageFiles/591806061/Slutrapport%20F%c3%b6rstudie%20Nationell%20Portal%20Inkl%20bilagor.pdf">förstudiens bilaga 3 – teknisk utredning</a>&nbsp;(PDF).
</p>
<p>
  Vi är särskilt mån om att data kommer till användning och att innovationskraften i vidareutnyttjande av öppna data realiseras.
</p>
{% endtrans %}
