<footer class="site-footer">
  <div class="container">
    <div class="row">
      {% block footer_content %}
        {% block footer_nav %}
        <nav class="span3">
            <ul class="unstyled {#row-fluid#}">
              {% block footer_links %}
                <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
                <li><a href="mailto:info@oppnadata.se">info@oppnadata.se</a></li>
              {% endblock %}
            </ul>
        </nav>
        {% endblock %}
        <div class="span3">
          {% block footer_attribution %}
          {% endblock %}
        </div>
        <div class="span4">
          {% block footer_lang %}
            {% snippet "snippets/language_selector.html" %}
          {% endblock %}
        </div>
      {% endblock %}
      <div class="span2 footer-logo">
        <img src="{{ h.url_for_static('/img/od-blueyellow.png') }}" alt="{{ g.site_title }} Logo" title="{{ g.site_title }} Logo" class="footer-logo-image"/>
      </div>
    </div>
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
